@media screen and (max-width: 768px) {
    .app-container {
        padding: 0 16px;
        margin: 0;
        width: 100%;
        height: 100%;
        padding: 24px;
        padding-bottom: 0;
    }
    .app-container .dashboard {
        width: 100%;
        top: 0;
        padding: 24px;
        padding-bottom: 0;
        border-radius: 0;
    }

    * {
        cursor: unset !important;
    }

    .app-container .playlist {
        margin-top: 390px;
    }


    .app-container .cd {
        width: 200px;
    }

    .app-container .cd-item {
        width: 50px;
        height: 50px;
    }

    .app-container .progress-container {
        margin-top: 16px;
    }

    .app-container .thumb {
        height: 20px;
        width: 20px;
        display: initial;
    }

    .app-container .music-player-btn {
        font-size: 24px;
        margin-top: 20px;
    }
}